/* Definir uma classe para a logotipo */
.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* Formatação global */
html, body {
    height: 100%; /* Garante que o body ocupe a altura total da janela */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    background-color: #d28b74 !important; /* Cor de fundo semelhante ao exemplo */
    color: #000;
    text-align: center;
    box-sizing: border-box;
}

/* Cabeçalho com logo e título */
header {
    height: 60px; /* Altura do cabeçalho */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Aumenta o espaço entre o logo e o título */
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
}

/* Área principal */
main {
    height: calc(100vh - 100px); /* Altura do conteúdo central */
    padding: 20px;
    overflow-y: auto; /* Permite a rolagem vertical se o conteúdo ultrapassar a altura */
    text-align: center;
}

/* Estilo para a área principal do conteúdo */
.receitas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    overflow-y: auto; /* Permite a rolagem vertical */
    max-height: calc(100vh - 100px); /* Ajusta a altura para a área central da página */
}

.container {
    flex: 1;
}

.container-fluid {
    flex: 1;
}

/* Rodapé */
footer {
    height: 25px; /* Altura do rodapé */
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    margin-top: auto; /* Faz o rodapé ir para a parte inferior*/
    
}

/* Menu */
nav {
    text-align: left;
    padding: 10px;
    background-color: #d28b74;
    font-weight: bold;
}
